[include]
	path = .config/git/gitconfig.inc
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autosquash = true
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
[alias]
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(red)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[color]
	ui = auto
