lf/.config/lf/files
lf/.config/lf/history
lf/.config/lf/marks
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/.github
nvim/.config/nvim/plugged/
nvim/.config/nvim/rplugin.vim
nvim/.config/nvim/shada/
nvim/.config/nvim/site/
nvim/.config/nvim/swap/
nvim/.config/nvim/harpoon.json
nvim/.config/nvim/tree-sitter-xml
nvim/.config/nvim/tree-sitter-haskell
polybar/.config/polybar/config.bak
polybar/.config/polybar/config_old
x11/.xinitrc_bspwm
zathura/.config/zathura/bookmarks
zathura/.config/zathura/history
zathura/.config/zathura/input-history
zsh/.config/zsh/.zcompdump*
nvim/.config/nvim/telescope_history
nvim/.config/nvim/harpoon
nvim/.config/nvim/mason
nvim/.config/nvim/site
nvim/.config/nvim/.stylua.toml
nvim/.config/nvim/LICENSE.md
nvim/.config/nvim/README.md
nvim/.config/nvim/doc/
nvim/.config/nvim/lazy/
nvim/.config/nvim/tree-sitter-cpp/
nvim/.config/nvim/tree-sitter-elsa/
nvim/.config/nvim/tree-sitter-gosum/
nvim/.config/nvim/tree-sitter-matlab/
nvim/.config/nvim/tree-sitter-solidity/
zathura/.config/zathura/bookmarks.sqlite
zathura/.config/zathura/bookmarks.sqlite-journal
